* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Grey-500: hsl(186, 15%, 59%);
    --Grey-900: hsl(187, 24%, 22%);
}
@font-face {
    font-family: "karla";
    src: url("../fonts/Karla-VariableFont_wght.ttf");
}
body {
    font-family: "karla";
    background-color: var(--green-200);

}
.contact_wrapper {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.contact_form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: var(--White);
    border-radius: 10px;
    width: 50%;
    z-index: 1;
}
.form_title {
    color: var(--Grey-900);
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.form-login .row_form {
    display: flex;
    gap: 0 1rem;
    justify-content: space-between;
}

.input_form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    flex: 1;
}

label {
    display: inline;
    color: var(--Grey-900);
    font-size: 16px;
    position: relative;
    text-transform: capitalize;
}
.label {
    margin-bottom: 1rem;
}
label::after {
    content: " * ";
    color: var(--green-600);
    position: absolute;
    font-size: 1.2rem;
    top: -10px;
}
.input_form > input,
.radio_type {
    padding: 15px 20px;
    border-radius: 5px;
    width: 100%;
    outline: none;
    border: 1px solid var(--Grey-500);
    margin-top: 0.5rem;
}

.radio_type > label::after {
    display: none;
}
input:focus {
    border-color: var(--green-600);
    border-width: 2px;
}
.error-message {
    color: var(--Red);
    font-size: 14px;
    margin: 10px 0;
    display: block;
    text-transform: capitalize;
}
#message {
    min-height: 100px;
    border: 1px solid var(--Grey-500);
    border-radius: 5px;
    margin-top: 0.5rem;
    padding: 15px 20px;

}
.submit_btn {
    background-color: var(--green-600);
    border: none;
    outline: none;
    color: var(--White);
    font-weight: 700;
    font-size: 1rem;
    font-family: "karla";
    cursor: pointer;
    translate: 0.5s;
    z-index: 2;
}
.submit_btn:hover {
    background-color: var(--Grey-900);
}
.checkbox_type {
    margin: 1rem 0;
}
.popup-success {
    background-color: var(--Grey-900);
    border-radius: 10px;
    padding: 20px;
    display: none;
    position: absolute;
    top: 20px;
    left: 35%;
    z-index: 20;
}
.popup_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.popup_wrapper h5 {
    display: flex;
    gap: 10px;
    text-transform: capitalize;
    color: var(--White);
    align-items: center;
}
.popup_wrapper p {
    font-size: 16px;
    margin-top: 10px;
    text-transform: capitalize;
    color: var(--green-200);
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 1px solid var(--Grey-500);
}

.container:hover input ~ .checkmark {
    background-color: var(--White);
}
.container input:checked ~ .checkmark {
    border: 1px solid var(--green-600);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.checkmark:after {
    top: 2.2px;
    left: 2.2px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--green-600);
}
/* checkbox */
.container_check {
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    color: var(--Grey-900);
    font-size: 16px;
    position: relative;
    text-transform: capitalize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.container_check .checkmark-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid var(--Grey-500);
    border-radius: 2px;
}
.container_check input:checked ~ .checkmark-checkbox {
    background-color: var(--green-600);
    border-width: 0;
}

.container_check .checkmark-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.container_check input:checked ~ .checkmark-checkbox:after {
    display: block;
}
.container_check .checkmark-checkbox:after {
    left: 7px;
    top: 3px;
    width: 2px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (max-width: 426px) {
    .form-login .row_form {
        display: flex;
        flex-direction: column;

    }
    .contact_form {
        padding: 10px;
        width: 100%;
    }
    label{
        font-size: 14px;
    }
    .container_check,.container{
        font-size: 12px;
    }
    
}
