* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --White: hsl(0, 0%, 100%);
    --Grey-500: hsl(186, 15%, 59%);
    --Grey-900: hsl(187, 24%, 22%);
}
@font-face {
    font-family: "karla";
    src: url("../fonts/Karla-VariableFont_wght.ttf");
}
body {
    
    font-family: "karla";
    color: var(--green-600);
}
.contact_wrapper{
  padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: var(--green-200);
    border: 1px solid #000;
}
.contact_form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--White);
    border-radius: 10px;
    min-width: 700px;
}
